.footer-container {
 background-color: #54595F;
 min-height: 180px;
}
a {
 color: #27eee4;
 text-decoration: none;
 transition: 0.5s;
}
a:hover {
 color: #80fff9;
}
.footer-links {
 border-bottom: solid 1px #ffffff;
}
.footer-link {
 list-style: none;
}
.footer-link a {
 text-transform: uppercase;
 font-weight: 600;
 color: #ffffff;
 font-size: 14px;
 transition: 0.5s;
}
.footer-link a:hover {
 color: #27eee4;
}
.footer-active {
 color: #80fff9;
}