body  { 
 font-family: montserrat, sans-serif;
 text-rendering: optimizeLegibility; 
 -webkit-font-smoothing: antialiased;
}
body,
input,
button  {
 -webkit-font-smoothing: antialiased; 
}
html {
 font: 100%/1.5 Arial, sans-serif;
}
h1 { 
 font-size: 2.0em;  /* 2*16 = 32 */    
}
h2 { 
 font-size: 1.4em;     /* 1.5*16 = 24 */  
}
h3 { 
 font-size: 1em;    /* 1.17*16 = 18.72 */   
}
h4 { 
 font-size: 0.83em;  /* 1*16 = 16 */    
}
h5 { 
 font-size: 0.75em;    /* 0.83*16 = 13.28 */   
}
h6 { 
 font-size: 0.7em;    /* 0.75*16 = 12 */ 
}
p { 
 line-height: 1.7;
 margin: 0 0 1em;
 font-size: 0.95em;    /* 0.83*16 = 13.28 */
}
.font-bold {
 font-weight: 600;
}
.white {
 color: #fff;
}


@media (min-width: 992px) { 

 h1 { 
  font-size: 2.4em;  /* 2*16 = 32 */    
 }
 h2 { 
  font-size: 1.5em;     /* 1.5*16 = 24 */  
 }
 h3 { 
  font-size: 1.17em;    /* 1.17*16 = 18.72 */   
 }
 h4 { 
  font-size: 1em;  /* 1*16 = 16 */    
 }
 h5 { 
  font-size: 0.83em;    /* 0.83*16 = 13.28 */   
 }
 h6 { 
  font-size: 0.75em;    /* 0.75*16 = 12 */ 
 }
 p { 
  line-height: 1.7;
  margin: 0 0 1em;
  font-size: 0.95em;    /* 0.83*16 = 13.28 */
 }

 }

