body {
 overflow-x: hidden;
}

.homepage-hero {
 background-image: url('../images/IMG_4563.webp');
 background-position: center center;
 background-size: cover;
 margin: 0;
 padding: 0;
}
.homepage-hero-overlay {
 // background-image: linear-gradient(100deg, #000000 0%, #F2295B00 100%);
 padding: 80px 0px;
 margin: 0;
}
.homepage-hero-content {
 z-index: 99;
}
.divider-primary {
 border-top-color: $primary;
 border-top-width: 4px;
 border-top-style: solid;
 padding: 15px 0px;
 display: flex;
 width: 20%;
 margin: 0 auto;
}
.links-container {
 background-color: #F7F8F9;
}
.link {
 background-color: #ffffff;
 min-height: 390px;
 box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 8%);
}
.link-image {
 border-radius: 0px 15px 0px 15px;
}

// @media (min-width: 576px) { ... }


// @media (min-width: 768px) { ... }


@media (min-width: 992px) { 

 .homepage-hero-overlay {
  padding: 200px 0px;
  background-image: linear-gradient(100deg, #00000092 0%, #f2295b00 50%);
 }

 }


// @media (min-width: 1200px) { ... }


// @media (min-width: 1400px) { ... }